<div class="profile-form">
  <p><span class="small required"><i class="fas fa-asterisk"></i></span>は必須項目です。</p>

  <%= form_with model: profile, local:true do |f| %>

    <!--エラーメッセージ-->
    <%= render "layouts/error", model: f.object %>

    <div class="form-group mb-3">
      <%= f.label :code, "プロフィールコード", class: "form-label" %>
      <span class="small required"><i class="fas fa-asterisk"></i></span>
      <%= f.text_field :code, class: "form-control" %>
      <div class="small text-muted">プロフィールページのURLの末尾に使用します。半角小文字英数字で、20文字まで入力できます。</div>
    </div>

    <div class="form-group mb-3">
      <%= f.label :name, "名前", class: "form-label" %>
      <span class="small required"><i class="fas fa-asterisk"></i></span>
      <%= f.text_field :name, class: "form-control" %>
      <div class="small text-muted">最大20文字まで入力できます。</div>
    </div>

    <div class="form-group mb-3">
      <span class="mr-3">アイコン画像</span>
      <%= f.attachment_field :image, id: "file", class: "item_image_btn" %>
      <button type="button" class="btn btn-outline-info btn-sm" id="img_field" onClick="$('#file').click()" >画像を選択</button>
    </div>

    <!--画像プレビュー-->
    <% if profile.image == nil %>
      <img id="preview" class="image-preview" src="/assets/cat.png">
    <% else %>
      <%=attachment_image_tag profile, :image, id: "preview", class: "image-preview", fallback: "cat.png" %>
    <% end %>
    <script>
      $('#file').on('change', function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#preview").attr('src', e.target.result);
        }
        reader.readAsDataURL(e.target.files[0]);
      });
    </script>

    <div class="form-group mb-3">
      <%= f.label :introduction, "自己紹介", class: "form-label" %>
      <%= f.text_field :introduction, class: "form-control"%>
      <div class="small text-muted">最大160文字まで入力できます。</div>
    </div>

    <div class="form-group mb-3">
      <%= f.submit "確定", class: "btn btn-outline-success" %>
    </div>

  <% end %>
</div>