<header class="profile-header">
  <!--ログインしている場合-->
  <% if user_signed_in? %>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "マイページ", mypage_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </nav>
  <% end %>


  <!--フラッシュメッセージの呼び出し-->
  <%= render "layouts/flash" %>

  <div class="row profile-box">
    <div class="col-md-auto left d-flex justify-content-end">
      <div class="icon-wrap">
        <%=attachment_image_tag profile, :image, class: "icon", fallback: "cat.png" %>
      </div>
    </div>
    <div class="col right">

    <div class="ber d-flex">
    <h1 class="name mb-0 my-auto flex-grow-1"><%= profile.name %></h1>
      <nav>
        <ul class="nav">
          <!--リンク-->
          <% profile.links.each do |link| %>
            <li class="nav-item">
              <%= link_to link.url, class: "nav-link" do %>
                <i class="<%= icon(link.category) %>"></i>
              <% end %>
            </li>
          <% end %>
          <!--ログインしている場合-->
          <% if user_signed_in? %>
            <!--ログインユーザーがプロフィールオーナーの場合-->
            <% if current_user.id == profile.user_id %>
              <li class="nav-item">
                <!--リンク先追加ボタン-->
                <%= link_to "#", class: "nav-link", "data-toggle": "modal", "data-target": "#linkModal" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
                <!--新規投稿モーダルの立ち上げ-->
                <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <%= render "links/new", { profile: @profile, link: @link } %>
                </div>
              </li>

              <!--リンクが存在した場合-->
              <% if profile.links.present? %>
                <li class="nav-item">
                  <!--リンク一覧画面へのリンク-->
                  <%= link_to links_path(profile), class: "nav-link" do %>
                    <i class="fas fa-cog"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>

      <p class="ml-3 mb-0">
        <%= safe_join(profile.introduction.split("\n"), tag(:br)) %>
        <!--ログインしている場合-->
        <% if user_signed_in? %>
          <!--ログインユーザーがプロフィールオーナーの場合-->
          <% if current_user.id == profile.user_id %>
            <%= link_to edit_profile_path do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
      <% end %>
      </p>
    </div>
  </div>
</header>