 <!--ログインしている場合-->
<% if user_signed_in? %>
  <nav>
    <div class="menu-ber">
      <!--ログインしている場合-->
      <% if user_signed_in? %>
      <ul class="nav justify-content-end align-items-end">
        <li class="nav-item">
          <%= link_to "マイページ", mypage_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% end %>
        <!--プロフィールオーナーがログインしている場合-->
        <% if current_user_signed_in?(profile) %>
        <li class="nav-item">
          <div class="nav-link">
          <button class="menu-btn btn btn-outline-secondary frex justify-content-end">
            <i class="fas fa-cog"></i>
          </button>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <!--プロフィールオーナーがログインしている場合-->
    <% if current_user_signed_in?(profile) %>

      <ul class="menu-nav nav flex-column">

        <h6 class="nav-item">
          <i class="fas fa-address-card"> Profile</i>
        </h6>
        <!--プロフィール編集ページへのリンク-->
        <li class="nav-item">
          <%= link_to edit_profile_path(profile), class: "nav-link" do %>
            <i class="fas fa-pen-nib"></i> 名前やコメントを編集する
          <% end %>
        </li>
        <!--機能の追加・削除ページへのリンク-->
        <li class="nav-item">
          <%= link_to edit_function_settings_path(profile), class: "nav-link" do %>
            <i class="fas fa-clipboard-list"></i> 機能の公開設定を変更する
          <% end %>
        </li>
        <!--公開・非公開設定ページへのリンク-->

        <li class="nav-item">
          <%= link_to status_profile_path(profile), class: "nav-link" do %>
            <% if profile.status == "公開" %>
              <i class="fas fa-lock-open"></i> 公開・非公開設定
            <% elsif profile.status == "非公開" %>
              <i class="fas fa-lock"></i> 公開・非公開設
            <% end %>
          <% end %>
        </li>

        <h6 class="nav-item">
          <i class="fas fa-link"> Link</i>
        </h6>
        <!--リンクの追加ページへのリンク-->
        <li class="nav-item">
          <%= link_to new_link_path(profile), class: "nav-link" do %>
            <i class="fas fa-plus"></i> リンクを追加する
          <% end %>
        </li>

        <!--リンクが存在した場合-->
        <% if profile.links.present? %>
          <!--リンク一覧画面へのリンク-->
          <li class="nav-item">
            <%= link_to links_path(profile), class: "nav-link" do %>
              <i class="fas fa-pen-nib"></i> リンクを編集する
            <% end %>
          </li>
        <% end %>

        <h6 class="nav-item">
          <i class="fas fa-palette"> Color</i>
        </h6>
        <!--カラーテーマ編集ページへのリンク-->
        <li class="nav-item">
          <%= link_to edit_colors_path(profile), class: "nav-link" do %>
            <i class="fas fa-paint-brush"></i> カラーテーマを変更する
          <% end %>
        </li>

        <h6 class="nav-item">
          <i class="fas fa-mail-bulk"> Mail</i>
        </h6>
        <!--メールボックスへのリンク-->
        <li class="nav-item">
          <%= link_to inquiries_path(profile), class: "nav-link" do %>
            <i class="fas fa-envelope-open-text"></i> 受信メールを確認する
          <% end %>
        </li>

      </ul>
    <% end %>
  </nav>
  <script>
    const menubtn = document.querySelector('.menu-btn');
    const menunav = document.querySelector('.menu-nav');
    menubtn.addEventListener('click', () => {
      menunav.classList.toggle('open-menu');
    });
  </script>
<% end %>

<header class="profile-header">

  <!--フラッシュメッセージの呼び出し-->
  <%= render "layouts/flash" %>

  <div class="row profile-box">
    <div class="left d-flex justify-content-end align-items-center">
      <div class="icon-wrap">
        <%= attachment_image_tag profile, :image, class: "icon", fallback: "cat.png" %>
      </div>
    </div>
    <div class="col right">

      <div class="ber d-flex">
        <h1 class="name mb-0 my-auto"><%= profile.name %></h1>
        <nav>
          <ul class="nav">
            <!--リンク-->
            <% profile.links.each do |link| %>
              <li class="nav-item">
                <%= link_to link.url, class: "nav-link", target: "_blank", rel: "noopener noreferrer" do %>
                  <i class="<%= icon(link.category) %>"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <p class="ml-3 mb-0">
        <%== user_text(profile.introduction) %>
      </p>
    </div>
  </div>
</header>