<nav>
  <ul class="nav justify-content-end">

    <!--ソーシャル-->
    <li class="nav-item">
        <%= link_to "ソーシャル", "", class: "nav-link active" %>
    </li>

    <!--ログインしている場合-->
    <% if user_signed_in? %>
      <!--ログインユーザーがプロフィールオーナーの場合-->
      <% if current_user.id == profile.user_id %>
        <li class="nav-item">
          <%= link_to "編集する", edit_profile_path, class: "nav-link" %>
        </li>
      <% end %>

        <li class="nav-item">
          <%= link_to "マイページ", mypage_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
    <% end %>
  </ul>

</nav>
<!--フラッシュメッセージ-->
<%= flash[:notice] %>
<%= flash[:error] %>

<%=attachment_image_tag @profile, :image, class: "profile-icon", fallback: "cat.png" %>
<%= profile.name %>
<%= profile.introduction %>