<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h2 class="modal-title">コメント追加</h2>
      <!--閉じるボタン-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--フォーム-->
    <%= form_with(model: [profile, comment], url: comments_path, local: true) do |f| %>
      <div class="modal-body text-left">
        <div class="mb-3">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autofocus: true, autocomplete: "タイトル", class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :text, "内容" %>
          <%= f.text_area :text, autofocus: true, autocomplete: "コメント内容", class: "form-control" %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "投稿", class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>