<div class="profile-page <%= colortheme(@profile) %>">

  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <!--プロフィールカラーの反映-->
<%= render "colors/style", profile: @profile %>

<%= render "profiles/tab-menu", profile: @profile %>

  <nav>
    <ul class="nav">
      <!--プロフィールオーナーがログインしている場合-->
      <% if current_user_signed_in?(@profile) %>
        <!--新規投稿ボタン-->
        <li class="nav-link">
          <%= link_to "#", class: "ml-3", "data-toggle": "modal", "data-target": "#scheduleModal" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </li>
        <!--新規投稿モーダルの立ち上げ-->
        <div id="scheduleModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <%= render "schedules/form", { profile: @profile, schedule: @schedule } %>
        </div>
      <% end %>
      <!--予定へのリンク-->
      <li class="nav-link">
      <%= link_to schedules_path(@profile) do %>
        <i class="fas fa-history fa-flip-horizontal"></i> 予定を確認する
      <% end %>
      </li>
    </ul>
  </nav>

  <!--予定がある場合-->
  <% if @completed_schedules.present? %>

    <!--予定一覧-->
    <ul class="list-group list-group-flush list-group-flush">
    <% @completed_schedules.each do |schedule| %>
      <li class="list-group-item  d-flex justify-content-between align-items-center bg-transparent">
        <span>
          <small><%= "#{l schedule.start_date, format: :long}～#{l schedule.end_date, format: :long}" %></small>
          <br>
          <%= schedule.title %>
          <!--予定詳細に入力がある場合-->
          <% if schedule.body.present? %>
            <a class="and_more" data-toggle="collapse" href="#<%= "collapse" + schedule.id.to_s %>" role="button" aria-expanded="false" aria-controls="<%= "collapse" + schedule.id.to_s %>">
              <i class="fas fa-caret-down"></i>
            </a>
          <% end %>
        </span>
        <!--プロフィールオーナーがログインしている場合-->
        <% if current_user_signed_in?(@profile) %>
          <!--削除ボタン-->
          <%= link_to schedule_path(@profile, schedule), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </li>
      <div class="collapse mt-1" id="<%= "collapse" + schedule.id.to_s %>">
        <div class="card card-body">
          <%== user_text(schedule.body) %>
        </div>
      </div>
    <% end %>
    </ul>

    <!--ページネーション-->
    <div class="mt-3 d-flex justify-content-center">
      <%= paginate @completed_schedules %>
    </div>

  <!-- 予定がない場合 -->
  <% else %>
    <div>
      <p>終了した予定はありません。</p>
    </div>
  <% end %>

</div>