<div class="profile">
  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <nav>
    <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <%= link_to profile_path, class: "nav-link" do %>
        <i class="fas fa-paperclip"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to timeline_profile_path(@profile.id), class: "nav-link" do %>
        <i class="far fa-clock"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to schedules_path(@profile.id), class: "nav-link" do %>
        <i class="far fa-calendar-alt"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_inquiry_path(@profile.id), class: "nav-link active" do %>
        <i class="far fa-envelope"></i>
      <% end %>
    </li>
    </ul>
  </nav>

  <table class="table">
    <tbody>
      <tr>
        <td class="text-center">名前</td>
        <td><%= @inquiry.sender %></td>
      </tr>
      <tr>
        <td class="text-center">メールアドレス</td>
        <td><%= @inquiry.email %></td>
      </tr>
          <tr>
        <td class="text-center">件名</td>
        <td><%= @inquiry.title %></td>
      </tr>
      <tr>
        <td class="text-center">メッセージ</td>
        <td style="white-space: pre-wrap;"><%= @inquiry.message %></td>
      </tr>
    </tbody>
  </table>

  <%= form_with(model: [@profile, @inquiry], url: inquiries_path, local: true) do |f| %>
    <%= f.hidden_field :sender %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :message %>
    <div><%= f.submit "送信", class: "btn btn-outline-success" %></div>
  <% end %>
  <%= form_with(model: [@profile, @inquiry], url: back_inquiry_path(@profile.id), local: true) do |f| %>
    <%= f.hidden_field :sender %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :message %>
    <div><%= f.submit "修正", class: "btn btn-outline-danger" %></div>
  <% end %>

</div>