<div class="profile-page <%= colortheme(@profile) %>">

  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <%= render "profiles/tab-menu", profile: @profile %>

  <p>
    プロフィールオーナーへメールを送信できます。<br>
    <span class="small required"><i class="fas fa-asterisk"></i></span>は必須項目です。
  </p>

  <!--メール送信フォーム-->
  <%= form_with(model: [@profile, @inquiry], url: confirm_inquiries_path(@profile), local: true) do |f| %>

    <!--エラーメッセージ-->
    <%= render "layouts/error", model: f.object %>

    <div class="form-group mb-3">
      <%= f.label :sender, "名前" %>
      <span class="small required"><i class="fas fa-asterisk"></i></span>
      <%= f.text_field :sender, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :email, "メールアドレス" %>
      <span class="small required"><i class="fas fa-asterisk"></i></span>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :title, "件名" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-grou mb-3">
      <%= f.label :message, "メッセージ" %>
      <span class="small required"><i class="fas fa-asterisk"></i></span>
      <%= f.text_area :message, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.submit '入力内容確認', class: "btn btn-outline-success" %>
    </div>
  <% end %>

</div>