<!--プロフィールカラーの反映-->
<%= render "colors/style", profile: @profile %>

<div class="profile-page <%= colortheme(@profile) %>">

  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <%= render "profiles/tab-menu", profile: @profile %>

  <!--プロフィールオーナーがログインしている場合-->
  <% if current_user_signed_in?(@profile) %>
    <ul class="nav">
      <li class="nav-link">
        <!--新規投稿ボタン-->
        <%= link_to new_image_path do %>
          <i class="fas fa-plus"></i> 画像を投稿する
        <% end %>
      </li>
      <!--編集ボタン-->
      <li class="nav-link">
        <%= link_to list_images_path(@profile) do %>
          <i class="fas fa-pen-nib"></i> 画像を編集する
        <% end %>
      </li>
    </ul>
  <% end %>

  <!--投稿がある場合-->
  <% if @profile.images.present? %>
    <div class="image-list">
      <!--投稿一覧-->
      <% @images.each do |image| %>
        <div class="wrap">
          <%= link_to Refile.attachment_url(image, :body), "data-lightbox": image.body do %>
            <%= attachment_image_tag image, :body, fallback: "noimage.jpg" %>
          <% end %>
          <p class="title text-center">
            <%= image.title %><br>
            <small class="small"><%= l image.created_at, format: :default %></small>
          </p>
        </div>
      <% end %>
    </div>
    <!--ページネーション-->
    <div class="mt-3 d-flex justify-content-center">
      <%= paginate @images %>
    </div>

  <!-- 投稿がない場合 -->
  <% else %>
    <div>
      <p>投稿はありません。</p>
    </div>
  <% end %>

</div>
<!--Lightbox2の読み込み-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>