<div class="profile-page <%= colortheme(@profile) %>">

  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <%= render "profiles/tab-menu", profile: @profile %>

  <!--プロフィールオーナーがログインしている場合-->
  <% if current_user_signed_in?(@profile) %>
    <!--新規投稿ボタン-->
    <%= link_to new_image_path, class: "nav-link" do %>
      <i class="fas fa-plus"></i> 画像を投稿する
    <% end %>
  <% end %>

  <!--投稿がある場合-->
  <% if @profile.images.present? %>
    <div class="image-list">
      <!--投稿一覧-->
      <% @images.each do |image| %>
        <div class="wrap">
          <%= attachment_image_tag image, :body, class: "" %>
          <p class="title">
            <%= image.title %>
          </p>
          <%#== user_text(image.information) %>
          <%#= l image.created_at, format: :long %>
          <!--プロフィールオーナーがログインしている場合-->
          <%# if current_user_signed_in?(@profile) %>
            <!--編集ボタン-->
            <%#= link_to edit_image_path(@profile, image) do %>
              <!--<i class="fas fa-pen-nib"></i>-->
            <%# end %>
            <!--削除ボタン-->
            <%#= link_to post_path(@profile, image), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
              <!--<i class="fas fa-trash-alt"></i>-->
            <%# end %>
          <%# end %>
        </div>
      <% end %>
    </div>
    <!--ページネーション-->
    <div class="mt-3 d-flex justify-content-center">
      <%= paginate @images %>
    </div>

  <!-- 投稿がない場合 -->
  <% else %>
    <div>
      <p>投稿はありません。</p>
    </div>
  <% end %>

</div>