<div class="management-page">

  <!--ヘッダー呼び出し-->
  <%= render "layouts/header" %>

  <h2>リンクを追加</h2>
  <p><span class="small required"><i class="fas fa-asterisk"></i></span>は必須項目です。</p>
  <!--フォーム-->
  <%= form_with(model: [@profile, @image], url: images_path, local: true) do |f| %>

    <!--エラーメッセージ-->
    <%= render "layouts/error", model: f.object %>

    <div class="mb-3">
      <span>画像</span>
      <span class="small required mr-3"><i class="fas fa-asterisk"></i></span>
      <%= f.attachment_field :body %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :title, "タイトル" %>
      <span class="small required mr-3"><i class="fas fa-asterisk"></i></span>
      <%= f.text_field :title, class: "form-control" %>
    </div>

     <div class="form-group mb-3">
      <%= f.label :information, "説明" %>
      <%= f.text_area :information, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.submit "保存", class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

  <!--フッター呼び出し-->
  <%= render "layouts/footer" %>

</div>